.hello{
    background:red;
}

.outer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin:20px 0;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top{
    padding:10px 5px;
}

.bottom{
    padding:10px 5px;
}

.right{
    text-align: center;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myButton{
    padding:2px;
    color:#0099ff;
&:hover{
    color:#006bb3;
    text-decoration: underline;

}
}